{% extends "base.html" %}

{% block main %}
    <div class="card text-center mb-3" style="width: 25rem;margin-left: 750px; margin-top: 180px">
        <div class="card-body">
            <hr>
            <h5 class="card-title">Are you sure you want to delete your account!</h5>
            <hr>
            <form action="{% url 'profile_delete' slug=request.user.username pk=request.user.pk %}" method="post">
                {% csrf_token %}
                
                <button>DELETE</button>
            </form>

        </div>
    </div>

{% endblock %}