{% extends "base.html" %}
{% block main %}

    <div style="border-color: white" class="card mb-3">
        <img style="width: 1902px; height: 1100px"
             src="https://media.architecturaldigest.com/photos/5900cc370638dd3b70018b33/master/pass/Secrets%20of%20Louvre%201.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="card-title"><i>The Louvre</i></h1>
            <h5 class="card-text"><i>The Louvre , or the Louvre Museum (French: Musée du
                Louvre [myze dy luvʁ] ), is a national art museum in Paris, France. It is located on the Right Bank of
                the Seine in the city's 1st arrondissement (district or ward) and home to some of the most canonical
                works of Western art, including the Mona Lisa and the Venus de Milo. The museum is housed in the Louvre
                Palace, originally built in the late 12th to 13th century under Philip II. Remnants of the Medieval
                Louvre fortress are visible in the basement of the museum. Due to urban expansion, the fortress
                eventually lost its defensive function, and in 1546 Francis I converted it into the primary residence of
                the French Kings.</i></h5>

        </div>
    </div>
    <hr>
    <div style="margin: 30px;border-color: white" class="card">
        <div class="card-body">
            <h1 style="text-align: center" class="card-title"><i>Welcome to ArtGallery</i></h1>
            <h3 style="text-align: center" class="card-text"><i>Discover a world of creativity and inspiration at
                ArtGallery. Our gallery showcases a diverse collection of artworks from talented artists around the
                globe. Whether you're a seasoned art collector or a passionate enthusiast, there's something here for
                everyone to admire and appreciate.</i></h3>

        </div>
        <img src="https://media.cntraveller.com/photos/611bece34e09f53b43732f58/16:9/w_3200,h_1800,c_limit/beautiful.jpg"
             alt="...">
    </div>



   

{% endblock %}